.skills {
    display: flex;

    .skill-box {
        background-color: $background-colour-light;
        border: 1px solid $border-colour;
        height: 700px;
        width: 400px;
        padding: $padding-base;
        display: flex;
        flex-direction: column;

        .skill-box-icon {
            height: 60px;
            width: 60px;
            align-self: center;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .skill-box-title {
            font-size: $font-size-base + 4px;
            font-weight: $font-weight-bold;
            text-align: center;
        }
    }

    .skill-box:first-of-type {
        border-top-left-radius: $border-radius-base;
        border-bottom-left-radius: $border-radius-base;
    }

    .skill-box:last-of-type {
        border-top-right-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
    }
}