// TODO: SEe if repetition can be avoided using SASS functions and mixins
* {
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    max-width: 100%;
}

.button {
    background-color: white;
    border-color: $accent-colour;
    color: $accent-colour;
    border: 2px solid $accent-colour;
    border-radius: 999px;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
    font-family: $font-family;
    margin: 2rem;
    &:hover {
        background-color: $accent-colour;
        color: white;
    }

}

// Navigation bar
.navbar {

    .nav-logo {
        background-color: darkgrey;
        height: $navlogo-dim;
        width: $navlogo-dim;
        margin-left: 5vh;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    top: 0;

    .nav-links {
        display: flex;
        list-style: none;
        padding: $navlink-padding $navlink-padding;
        
        .nav-item:not(:first-of-type) {
            margin-left: 2rem;
        }

        .nav-link {
            text-decoration: none;
            font-family: $font-family;
            font-weight: 700;
            letter-spacing: 0.1rem;
            font-size: $navbar-font-size;
            color: $text-colour-main;
        }

        .nav-link:hover {
            color: $text-colour-hover;
        }
    }
}

.page-header {
    margin-top: $navbar-height;
    background-color: #F6F6F6;
    height: 550px;
}

.page-footer {
    background-color: black;
    font-family: $font-family;
    font-size: $font-size;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}