// TODO: SEe if repetition can be avoided using SASS functions and mixins

body { 
    margin:0; 
    background-color: purple;
    width: 100vw;
    max-width: 100%;
}

// Navigation bar
.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    height: 7.5vh;
    font-family: Arial;

    .nav-logo {

    }

    .nav-links {
        display: flex;
        list-style: none;

        .nav-item:not(:first-of-type) {
            margin-left: 1.5em;
        }

        .nav-link {
            color: $text-colour-main;
            text-decoration: none;
            font-weight: 600;
        }

        .nav-link:hover {
            color: $text-colour-hover;
        }
    }
}