// TODO: SEe if repetition can be avoided using SASS functions and mixins
* {
    margin: 0;
}

html {
    font-size: $font-size-base;
}

body {
    width: 100vw;
    max-width: 100%;
    font-family: $font-family;
    color: $font-colour-dark;
}