.welcome {
    height: 100vh;
    // background-image: url("../images/subtle-prism.png");
    background-color: lightgrey;
    background-attachment: scroll;
    background-size: cover;
    margin-top: $navbar-height;
}

.about {
    height: 100vh;
    background-color: purple;
}