.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .home-header-content {
        // background-image: url("../images/subtle-prism.png");
        // background-attachment: scroll;
        // background-size: cover;
        display: flex;
        align-items: center;

        .home-header-mission {
            background-color: pink;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .home-header-image {
            background-color: orange;
        }
    }
}

.home-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: purple;

    .home-about-content {
        background-color: violet;
        display: flex;
        align-items: center;

        .home-about-bio {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .home-about-skills {
            display: flex;
            flex-direction: column;
        }
    }
}

.home-projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-projects-grid {
        display: flex;
    }
}