.home-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-colour-medium;

    .home-about-content {
        background-color: violet;
        display: flex;
        align-items: center;

        .home-about-bio {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .home-about-skills {
            display: flex;
            flex-direction: column;
        }
    }
}