// Global styling variables
$accent-colour: rgba(255, 140, 0, 0.767);

$text-colour-main: #707070;
$text-colour-main: #333;
$text-colour-hover: $accent-colour;

$font-family: 'Source Sans Pro', sans-serif;
