// Global styling variables
$accent-colour: #7d31d6;
// $accent-colour: #6926c1;

$font-colour-light: #707070;
$font-colour-dark: #333333;

$background-colour-light: white;
$background-colour-dark: #F8F8F8;

$border-colour: #cfcfcf;

$font-family: 'Montserrat', 'eurostile', 'europa', 'Source Sans Pro', sans-serif;
$font-size: 16px;
$font-size-title: 20px;
$font-weight-title: 600;
$font-size-subtitle: 18px;
// These variables allow the first content block on each page to be shifted down
// so its starts flush with the bottom of the navbar
$navbar-font-size: $font-size;
$navlink-padding: calc(2*#{$navbar-font-size});
$navbar-height: calc(#{$navbar-font-size} * 5); // 1 rem for the text, 2.5 rem above, and 2 rem below = 6 rem total height
$navlogo-dim: calc(#{$navbar-font-size} * 4);
