// Global styling variables
$accent-colour: rgb(126, 49, 214);

$text-colour-main: #707070;
$text-colour-main: #333;
$text-colour-hover: $accent-colour;

$font-family: 'eurostile', 'europa', 'Source Sans Pro', sans-serif;

$navbar-font-size: 1rem;
$navlink-padding: calc(2*#{$navbar-font-size});
$navbar-height: calc(#{$navbar-font-size} * 5); // 1 rem for the text, 2 rem above, and 2 rem below = 5 rem total height
$navlogo-dim: calc(#{$navbar-font-size} * 4);
