{% extends "base.html" %}
{% block title %}About David LaJambe | Software Developer and Machine Learning Engineer{% endblock %}
{% block content %}
<section class="section-light">
  <div class="page-header container">
    <div class="page-header-left">
      <div class="page-header-text">
        <div class="page-header-text-large">
          About Me
        </div>
        <div class="page-header-text-medium">
          David LaJambe - Software Developer & Machine Learning Engineer
        </div>
        <div class="page-header-text-small">
          I love creating powerful, data-driven applications to improve the world. I
          leverage my academic background and industrial experience in software
          development and machine learning when approaching any problem.
        </div>
      </div>
    </div>
    <div class="page-header-right">
      <div class="page-header-image">
        <img class="img-contain img-rounded" src="{{url_for('static', filename='images/bench.jpg')}}" alt="bench"/>
      </div>
    </div>
  </div>
</section>
<section class="section-medium">
  <div class="page-content container">
    <div class="page-content-title">
      My Profile
    </div>
    <div class="profile-grid">
      <div class="profile-box">
        <div class="profile-box-icon">
          <img src="{{url_for('static', filename='images/icon_education.svg')}}" alt="icon_education.svg"/>
        </div>
        <div class="profile-box-section">
          <h1>Education</h1>
        </div>
        <div class="profile-box-section">
          <p>My specialization is in machine learning and applied multivariate statistics.</p>
        </div>
        <div class="profile-box-section">
          <h2>My research:</h2>
          <p>Click <a class="hyperlink" href="/publications">here</a>
            to see my publications on the use of machine learning for fault detection.</p>
        </div>
        <div class="profile-box-section">
          <h2>Course material:</h2>
          <ul>
            <li>Deep learning</li>
            <li>Classic machine learning</li>
            <li>Multivariate statistics</li>
            <li>Time series modelling</li>
            <li>Optimization</li>
            <li>Technical writing</li>
          <ul>
        </div>
        <div class="profile-box-section">
          <h2>Degrees:</h2>
          <ul>
            <li>MSc in Chemical Engineering, Laval University, 2018-2020</li>
            <li>BEng & Mgmt. in Chemical Engineering, McMaster University, 2009-2014</li>
          <ul>
        </div>
      </div>
      <div class="profile-box">
        <div class="profile-box-icon">
          <img src="{{url_for('static', filename='images/icon_software.svg')}}" alt="icon_software.svg"/>
        </div>
        <div class="profile-box-section">
          <h1>Software Development</h1>
        </div>
        <div class="profile-box-section">
          <!-- <p>I create applications that allow companies to extract value from their data.</p> -->
          <p>I develop robust applications that generate value from industrial process data.</p>
          
        </div>
        <div class="profile-box-section">
          <h2>What I value:</h2>
          <p>Clean architecture, maintainable code, high performance</p>
        </div>
        <div class="profile-box-section">
          <h2>Languages:</h2>
          <ul>
            <li>Python</li>
            <li>C++</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS/Sass</li>
            <li>JavaScript</li>
          <ul>
        </div>
        <div class="profile-box-section">
          <h2>Tools:</h2>
          <ul>
            <li>Azure DevOps</li>
            <li>Continuous integration</li>
            <li>Cloud deployment</li>
            <li>Git</li>
          <ul>
        </div>
      </div>
      <div class="profile-box">
        <div class="profile-box-icon">
          <img src="{{url_for('static', filename='images/icon_ml.svg')}}" alt="icon_ml.svg"/>
        </div>
        <div class="profile-box-section">
          <h1>Machine Learning</h1>
        </div>
        <div class="profile-box-section">
          <p>I create powerful, predictive and generative machine learning systems.</p>
        </div>
        <div class="profile-box-section">
          <h2>What I build:</h2>
          <p>Deep neural networks, classic ML systems, multivariate process models</p>
        </div>
        <div class="profile-box-section">
          <h2>Areas of expertise:</h2>
          <ul>
            <li>Deep learning</li>
            <li>Generative AI</li>
            <li>Natural language processing</li>
            <li>Computer vision</li>
            <li>Principal component analysis</li>
            <li>Partial least squares</li>
          <ul>
        </div>
        <div class="profile-box-section">
          <h2>Libraries:</h2>
          <ul>
            <li>PyTorch</li>
            <li>Scikit-learn</li>
            <li>Pandas</li>
            <li>Numpy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}