{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<section class="section-light">
  <div class="page-header container">
    <div class="page-header-left">
      <div class="page-header-text">
        <div class="page-header-text-large">
        About Me
        </div>
        <div class="page-header-text-medium">
        David LaJambe - Software Developer & Machine Learning Engineer
        </div>
        <div class="page-header-text-small">
        Since 2014, I have enjoyed using data to generate value for companies. My
        passion is designing, developing, and deploying cutting-edge machine learning, AI,  
        and optimization applications.
        </div>
      </div>
    </div>
    <div class="page-header-right">
      <div class="page-header-image">
        <img class="img-contain img-rounded" src="{{url_for('static', filename='images/about/bench.jpg')}}" alt="bench"/>
      </div>
    </div>
  </div>
</section>
<section class="section-medium">
  <div class="page-content container">
    <div class="page-content-title">
      My Profile
    </div>
    <div class="profile-grid">
      <div class="profile-box">
        <div class="profile-box-icon">
          <img src="{{url_for('static', filename='images/about/icon-education.jpg')}}" alt="icon-education"/>
        </div>
        <div class="profile-box-section">
          <h1>Education</h1>
        </div>
        <div class="profile-box-section">
          <p>My specialization is in machine learning and applied multivariate statistics.</p>
        </div>
        <div class="profile-box-section">
          <h2>My research:</h2>
          <p>Click <a class="hyperlink" href="/publications">here</a>
            to see my publications on the use of machine learning for fault detection.</p>
        </div>
        <div class="profile-box-section">
          <h2>Course material:</h2>
          <ul>
            <li>Deep learning</li>
            <li>Classic machine learning</li>
            <li>Multivariate statistics</li>
            <li>Time series modelling</li>
            <li>Optimization</li>
            <li>Technical writing</li>
          <ul>
        </div>
        <div class="profile-box-section">
          <h2>Degrees:</h2>
          <ul>
            <li>MSc in Chemical Engineering, Laval University, 2018-2020</li>
            <li>BEng & Mgmt. in Chemical Engineering, McMaster University, 2009-2014</li>
          <ul>
        </div>
      </div>
      <div class="profile-box">
        <div class="profile-box-icon">
          <img src="{{url_for('static', filename='images/about/icon-software.jpg')}}" alt="icon-software"/>
        </div>
        <div class="profile-box-section">
          <h1>Software Development</h1>
        </div>
        <div class="profile-box-section">
          <!-- <p>I create applications that allow companies to extract value from their data.</p> -->
          <p>I value clean software architecture, maintainable code, and high performance.</p>
        </div>
        <div class="profile-box-section">
          <h2>What I develop:</h2>
          <p>Modelling applications, optimization engines, monitoring systems</p>
        </div>
        <div class="profile-box-section">
          <h2>Languages:</h2>
          <ul>
            <li>Python</li>
            <li>C++</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS/Sass</li>
          <ul>
        </div>
        <div class="profile-box-section">
          <h2>Development tools:</h2>
          <ul>
            <li>CI/CD - Azure DevOps</li>
            <li>Cloud deployment</li>
            <li>Git</li>
            <li>Gradle</li>
            <li>Premake</li>
          <ul>
        </div>
      </div>
      <div class="profile-box">
        <div class="profile-box-icon">
          <img src="{{url_for('static', filename='images/about/icon-ml.jpg')}}" alt="icon-ml"/>
        </div>
        <div class="profile-box-section">
          <h1>Machine Learning</h1>
        </div>
        <div class="profile-box-section">
          <p>I design, train, and deploy production-critical machine learning models.</p>
        </div>
        <div class="profile-box-section">
          <h2>What I build:</h2>
          <p>Deep neural networks, classic ML systems, multivariate process models</p>
        </div>
        <div class="profile-box-section">
          <h2>Areas of expertise:</h2>
          <ul>
            <li>Deep learning</li>
            <li>Natural language processing</li>
            <li>Large language models</li>
            <li>Computer vision</li>
            <li>PCA, PLS</li>
          <ul>
        </div>
        <div class="profile-box-section">
          <h2>Libraries:</h2>
          <ul>
            <li>PyTorch</li>
            <li>Scikit-learn</li>
            <li>Pandas</li>
            <li>Numpy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}