<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    {% assets "main_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/">
        <div class="nav-logo">
          <img src="{{url_for('static', filename='images/navbar/logo_simple.png')}}" alt="logo_simple.png"/>
        </div>
      </a>
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <!-- Add back when there are more than 3 projects <li class="nav-item">
          <a class="nav-link" href="/projects">PROJECTS</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/publications">PUBLICATIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTACT</a>
        </li>
        <li class="nav-item">
          <div class="nav-social">
            <a href="https://github.com/dlajambe", target="_blank">
              <img src="{{url_for('static', filename='images/navbar/github.png')}}" alt="github.png"/>
            </a>
          </div>
          <div class="nav-social">
            <a href="https://www.linkedin.com/in/david-lajambe/", target="_blank">
              <img src="{{url_for('static', filename='images/navbar/linkedin.png')}}" alt="linkedin.png"/>
            </a>
          </div>
        </li>
      </ul>
      <div class="hamburger">
        &#9776
      </div>
    </nav>
    <div class="navbar-separator"></div>
    {% block content %}{% endblock %}
    {% block footer %}
    <section class="page-footer">
      <div class="page-footer-content container">
        <div class="page-footer-title">
          Made by David LaJambe
        </div>
        <div class="page-footer-subtitle">
          Software developer & machine learning engineer
        </div>
        <hr>
        <div class="page-footer-copyright">
          &copy 2024 David LaJambe
        </div>
    </section>
    {% endblock %}
    <script type='text/javascript' src="{{ url_for('static', filename='js/hamburger.js') }}"></script>
  </body>
</html>
