<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    {% assets "main_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-logo">
        <a href="/", class="logo">LOGO</a>
      </div>
      <div class="nav-links">
        <div class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/projects">PROJECTS</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/contact">CONTACT</a>
        </div>
      </ul>
    </nav>
    {% block content %}{% endblock %}
    {% block footer %}
    <section class="page-footer">
      <div class="page-footer-content">
        <h1>
          David LaJambe
        </h1>
        <h2>
          Data scientist & software developer
        </h2>
      </div>
      <hr>
      <div class="page-footer-copyright">
        <h2>&copy 2023 David LaJambe</h2>
      </div>
    </section>
    {% endblock %}
  </body>
</html>