{% extends 'base.html' %}
{% block title %}David LaJambe | Software Developer & Machine Learning Engineer{% endblock %}
{% block content %}
<section class="section-light">
  <div class="page-header container">
    <div class="page-header-left">
      <div class="page-header-text">
        <h1>
          David LaJambe
        </h1>
        <h2>
          Software Developer & Machine Learning Engineer
        </h2>
        <p>
          I design, build, and deploy data-driven applications to help organizations prosper.
        </p>
        <img class="page-header-avatar" src="{{url_for('static', filename='images/suit_avatar.jpg')}}" alt="David LaJambe professional avatar"/>
      </div>
    </div>
    <div class="page-header-right">
      <div class="page-header-image">
        <img class="img-rounded img-contain" src="{{url_for('static', filename='images/suit.jpg')}}" alt="David LaJambe professional portrait"/>
      </div>
    </div>
  </div>
</section>
<section class="section-medium">
  <div class="page-content container">
    <h1>
      Hi, I'm David.
    </h1>
    <p>
      Since 2014, I have enjoyed using data to generate value for companies. My
      passion is designing, developing, and deploying cutting-edge machine learning, AI, 
      and optimization applications.
    </p>
    <p>
      In addition to my industrial work, I also have several scientific 
      <a class="hyperlink" href="/publications">publications</a> on the 
      use of machine learning for fault detection in the aluminum
      smelting process.
    </p>
    
    <a href="/about">
      <button class="button">About me</button>
    </a>
  </div>
</section>

<section class="section-light">
  <div class="page-content container">
    <h1>
      My Personal Projects
    </h1>
    <p>
      Here are some of my recent technical projects. Have a question? 
      Feel free to <a class="hyperlink" href="/contact">contact me</a>.
    </p>
    <div class="card-grid">
      <div class="card", id="card-llm-from-scratch"></div>
      <div class="card", id="card-sentiment-transformer"></div>
      <div class="card", id="card-model-api"></div>
      <div class="card", id="card-portfolio-website"></div>
    </div>

    <!-- Add back when there are more than 3 projects <div class="projects-button">
      <a class="button" href="/projects">More projects</a>
    </div> -->
  </div>
</section>
<script type='module' src="{{ url_for('static', filename='js/create_project_cards.js') }}"></script>
{% endblock %}