{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="page-header">
  <div class="page-header-content">
    <div class="page-header-left">
      <div class="page-header-text">
        <div class="page-header-text-large">
          David LaJambe
        </div>
        <div class="page-header-text-medium">
          Software Developer & Machine Learning Engineer
        </div>
        <div class="page-header-text-small">
          I design, build, and deploy exceptional data-driven applications to help organizations prosper.
        </div>
      </div>
    </div>
    <div class="page-header-right">
      <div class="page-header-image">
        <img src="{{url_for('static', filename='images/portrait.jpeg')}}" alt="portrait"/>
      </div>
    </div>
  </div>
</section>
<!-- <section class="home-about">
  <div class="home-about-content">
    <div class="home-about-bio">
      <div class="home-about-bio-text">
        <h1>About me</h1>
        <h2>Hi there! I am David - a data scientist / software developer based in Toronto, Canada.</h2>
        <p>Since 2014, I have enjoyed using data to generate value for companies. My
          passion is designing, developing, and deploying cutting-edge machine learning 
          and optimization applications.</p>
      </div>
      <a class="button" href="/about">Learn More</a>
    </div>
    <div class="home-about-skills">
      <h1>Skills</h1>
      <h2>C++</h2>
      <h2>Python</h2>
      <h2>Azure</h2>
    </div>
  </div>
</section> -->
<section class="page-content">
  <div class="page-content-title">
    Hi, I'm David.
  </div>
  <div class="page-content-subtitle">
    <p>
      Since 2014, I have enjoyed using data to generate value for companies. My
      passion is designing, developing, and deploying cutting-edge machine learning 
      and optimization applications.
    </p>
    <p>
      In addition to my industrial work, I also have several academic 
      <a href="/publications">publications </a>
      on the use of machine learning for process fault detection in the aluminum
      smelting industry.
    </p>

  </div>
  
  <a class="button", href="/about">About me</a>
</section>

<section class="page-content">
  <div class="page-content-title">
    My Recent Work
  </div>
  <div class="page-content-subtitle">
    Here are some projects I have built and deployed. Try them out for yourself!  
  </div>
  <div class="home-projects-grid">
    <div class="project-thumbnail">
      <div class="thumbnail-graphic">
        <img src="{{url_for('static', filename='images/shakespeare.png')}}" align="middle" alt="Shakespeare"/>
      </div>
      <div class="thumbnail-description">
        <div class="thumbnail-title">
          Shakesperean playwright
        </div>
        <div class="thumbnail-body">
          A large language model that generates novel Shakespearean scripts.
        </div>
      </div>
    </div>
    <div class="project-thumbnail">
      <div class="thumbnail-graphic">
        <img src="{{url_for('static', filename='images/delivery.png')}}" align="middle" alt="delivery"/>
      </div>
      <div class="thumbnail-description">
        <div class="thumbnail-title">
          Courrier Route Optimizer
        </div>
        <div class="thumbnail-body">
          An optimization engine that generates efficient package delivery routes.
        </div>
      </div>
    </div>
    <div class="project-thumbnail">
      <div class="thumbnail-graphic">
        <img src="{{url_for('static', filename='images/cool-background.png')}}" align="middle" alt="Shakespeare"/>
      </div>
      <div class="thumbnail-description">
        <div class="thumbnail-title">
          Fantasy Soundtrack Composer
        </div>
        <div class="thumbnail-body">
          A transformer-based deep neural net that composes fantasy-themed music.
        </div>
      </div>
    </div>
  </div>
  <div class="projects-button">
    <a class="button" href="/projects">More projects</a>
  </div>
</section>

{% endblock %}