{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="page-header home-header">
  <div class="home-header-content">
    <div class="home-header-mission">
      <div class="home-header-text">
        <h1>David LaJambe - Data scientist & software developer.</h1>
        <h2>I build data-driven applications to help organizations prosper.</h1>
      </div>
      <a class="button" href="/projects">My Projects</a>
    </div>
    <div class="home-header-image">
      <h1>Profile picture</h1>
    </div>
  </div>
</section>
<section class="home-about">
  <div class="home-about-content">
    <div class="home-about-bio">
      <div class="home-about-bio-text">
        <h1>About me</h1>
        <h2>Hi there! I am David - a data scientist / software developer based in Toronto, Canada.</h2>
        <p>Since 2014, I have enjoyed using data to generate value for companies. My
          passion is designing, developing, and deploying cutting-edge machine learning 
          and optimization applications.</p>
      </div>
      <a class="button" href="/about">Learn More</a>
    </div>
    <div class="home-about-skills">
      <h1>Skills</h1>
      <h2>C++</h2>
      <h2>Python</h2>
      <h2>Azure</h2>
    </div>
  </div>
</section>
<section class="home-projects">
  <div class="section-title">
    Featured projects
  </div>
  <div class="home-projects-grid">
    <div class="project-thumbnail">
      <div class="thumbnail-graphic">
        <img src="{{url_for('static', filename='images/shakespeare.png')}}" align="middle" alt="Shakespeare"/>
      </div>
      <div class="thumbnail-description">
        <div class="thumbnail-title">
          Shakespearean Script Generator
        </div>
        <div class="thumbnail-body">
          A large language model that generates novel shakespearean scripts.
        </div>
      </div>
    </div>
    <div class="project-thumbnail">
      <div class="thumbnail-graphic">
        <img src="{{url_for('static', filename='images/delivery.png')}}" align="middle" alt="delivery"/>
      </div>
      <div class="thumbnail-description">
        <div class="thumbnail-title">
          Courrier Route Optimizer
        </div>
        <div class="thumbnail-body">
          An optimization engine that generates efficient package delivery routes.
        </div>
      </div>
    </div>
    <div class="project-thumbnail">
      <div class="thumbnail-graphic">
        <img src="{{url_for('static', filename='images/cool-background.png')}}" align="middle" alt="Shakespeare"/>
      </div>
      <div class="thumbnail-description">
        <div class="thumbnail-title">
          Fantasy Soundtrack Composer
        </div>
        <div class="thumbnail-body">
          A transformer-based deep neural net that composes fantasy-themed MIDI scores.
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="project-thumbnail">
    <h1>Encyclopedic chatbot</h1>
  </div>
  <div class="project-thumbnail">
    <h1>Fantasy soundtrack generator</h1>
  </div>
  <div class="project-thumbnail">
    <h1>Amazon delivery optimization</h1>
  </div> -->
  <a class="button", href="/projects">Full portfolio</a>
</section>
{% endblock %}