{% extends "base.html" %}
{% block title%}Project Portfolio of David LaJambe{% endblock %}
{% block content %}
<section class="section-light">
  <div class="page-header container">
    <div class="page-header-left">
      <div class="page-header-text">
        <h1>
          Projects
        </h1>
        <h2>
          Check out my personal project portfolio.
        </h2>
        <p>
          My areas of expertise include deep learning, classic machine learning, and metaheuristic optimization.
        </p>
      </div>
    </div>
    <div class="page-header-right">
    
    </div>
  </div>
</section>
<section class="section-medium">
  <div class="page-content container">
    <h1>
      My Personal Projects
    </h1>
    <p>

    </p>
  </div>
</section>
{% endblock %}