{% extends "base.html" %}
{% block title%}Projects{% endblock %}
{% block content %}
<section class="page-header">
  <div class="page-header-content">
    <div class="page-header-left">
      <div class="page-header-text">
        <div class="page-header-text-large">
          Projects
        </div>
        <div class="page-header-text-medium">
          Try out some of my open-source projects.
        </div>
        <div class="page-header-text-small">
          My favourite methods include natural language processing, deep learning, and 
          metaheuristic optimization.
        </div>
      </div>
    </div>
    <div class="page-header-right">
    
    </div>
</div>
  </section>
<section class="page-content">
  <div class="page-content-title">
    My Open-Source Projects
  </div>
</section>
<h1>Projects</h1>
<h2>Shakespeare script generator</h2>
<h2>Quebecois to Parisian French translator</h2>
<h2>Interview practice bot</h2>
{% endblock %}