{% extends "base.html" %}
{% block title%}Projects{% endblock %}
{% block content %}
<section class="section-light">
  <div class="page-header container">
    <div class="page-header-content">
      <div class="page-header-left">
        <div class="page-header-text">
          <div class="page-header-text-large">
            Projects
          </div>
          <div class="page-header-text-medium">
            Try out some of my open-source projects.
          </div>
          <div class="page-header-text-small">
            My areas of expertise include deep learning (NLP, large language modelling, machine vision),
            classic machine learning, and metaheuristic optimization.
          </div>
        </div>
      </div>
      <div class="page-header-right">
      
      </div>
    </div>
  </div>
</section>
<section class="section-dark">
  <div class="page-content container">
    <div class="page-content-title">
      My Open-Source Projects
    </div>
    <div class="page-content-subtitle">
      <h1>Projects</h1>
      <h2>Shakespeare script generator</h2>
      <h2>Quebecois to Parisian French translator</h2>
      <h2>Interview practice bot</h2>
    </div>
  </div>
</section>
{% endblock %}