{% extends 'base.html' %}
{% block title %}Publications{% endblock %}
{% block content %}
<section class="section-light">
  <div class="page-header container">
    <div class="page-header-content">
      <div class="page-header-left">
        <div class="page-header-text">
          <div class="page-header-text-large">
            Publications
          </div>
          <div class="page-header-text-medium">
            My academic publications
          </div>
        </div>
      </div>
      <div class="page-header-right">
  
      </div>
  </div>
</section>
<section class="section-dark">
  <div class="page-content container">
    <div class="page-content-title">
      Publications
    </div>
    <div class="card-grid">
      <div class="card">
        <div class="card-graphic">
          <img src="{{url_for('static', filename='images/shakespeare.png')}}" align="middle" alt="Shakespeare"/>
        </div>
        <div class="card-text">
          <div class="card-title">
            Shakesperean playwright
          </div>
          <div class="card-body">
            A large language model that generates novel Shakespearean scripts.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-graphic">
          <img src="{{url_for('static', filename='images/shakespeare.png')}}" align="middle" alt="Shakespeare"/>
        </div>
        <div class="card-text">
          <div class="card-title">
            Shakesperean playwright
          </div>
          <div class="card-body">
            A large language model that generates novel Shakespearean scripts.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-graphic">
          <img src="{{url_for('static', filename='images/shakespeare.png')}}" align="middle" alt="Shakespeare"/>
        </div>
        <div class="card-text">
          <div class="card-title">
            Shakesperean playwright
          </div>
          <div class="card-body">
            A large language model that generates novel Shakespearean scripts.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-graphic">
          <img src="{{url_for('static', filename='images/shakespeare.png')}}" align="middle" alt="Shakespeare"/>
        </div>
        <div class="card-text">
          <div class="card-title">
            Shakesperean playwright
          </div>
          <div class="card-body">
            A large language model that generates novel Shakespearean scripts.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-graphic">
          <img src="{{url_for('static', filename='images/shakespeare.png')}}" align="middle" alt="Shakespeare"/>
        </div>
        <div class="card-text">
          <div class="card-title">
            Shakesperean playwright
          </div>
          <div class="card-body">
            A large language model that generates novel Shakespearean scripts.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-graphic">
          <img src="{{url_for('static', filename='images/shakespeare.png')}}" align="middle" alt="Shakespeare"/>
        </div>
        <div class="card-text">
          <div class="card-title">
            Shakesperean playwright
          </div>
          <div class="card-body">
            A large language model that generates novel Shakespearean scripts.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-graphic">
          <img src="{{url_for('static', filename='images/shakespeare.png')}}" align="middle" alt="Shakespeare"/>
        </div>
        <div class="card-text">
          <div class="card-title">
            Shakesperean playwright
          </div>
          <div class="card-body">
            A large language model that generates novel Shakespearean scripts.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}