{% extends 'base.html' %}
{% block title %}Publications{% endblock %}
{% block content %}
<section class="section-light">
  <div class="page-header container">
    <div class="page-header-left">
      <div class="page-header-text">
        <div class="page-header-text-large">
          Publications
        </div>
        <div class="page-header-text-medium">
          Check out some of my scientific publications.
        </div>
        <div class="page-header-text-small">
          I am passionate about finding new ways to apply AI and machine learning techniques. As a graduate student, I
          had the opportunity to author several papers on the use of machine learning for fault detection in
          the aluminum smelting process.
        </div>
      </div>
    </div>
    <div class="page-header-right">
      <div class="page-header-image">
        <img class="img-contain" src="{{url_for('static', filename='images/papers.jpg')}}" alt="papers.jpg"/>
      </div>
    </div>
  </div>
</section>
<section class="section-medium">
  <div class="page-content container">
    <div class="page-content-title">
      My Publications
    </div>
    <div class="grid">
      <div class="card", id="card-minerals-engineering"></div>
      <div class="card", id="card-light-metals"></div>
      <div class="card", id="card-laval"></div>
    </div>
  </div>
</section>
<script type='text/javascript' src="{{ url_for('static', filename='js/create_cards.js') }}"></script>
{% endblock %}