{% extends 'base.html' %}
{% block title %}Publications{% endblock %}
{% block content %}
<section class="page-header">
  <div class="page-header-content">
    <div class="page-header-left">
      <div class="page-header-text">
        <div class="page-header-text-large">
          Publications
        </div>
        <div class="page-header-text-medium">
          My academic publications
        </div>
        <div class="page-header-text-small">
          My areas of expertise include deep learning (NLP, large language modelling, machine vision),
          classic machine learning, and metaheuristic optimization.
        </div>
      </div>
    </div>
    <div class="page-header-right">
    
    </div>
</div>
</section>
<section class="page-content">
  <div class="page-content-title">
    Publications
  </div>
</section>
{% endblock %}