.card-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .card {
        margin: 15px;
        box-sizing: border-box;
        position: relative;
        border: 1px solid $border-colour;
        transition: box-shadow 0.3s;
        border-radius: $border-radius-base / 2;
        box-shadow: 0 0 4px rgba(33,33,33,.2); 

        &:hover {
            box-shadow: 0 0 15px 2px rgba(33,33,33,.2); 
            cursor: pointer;
        }
  
        .aspect-ratio {
            position: relative;
            width: 100%;
            padding-bottom: 125%; // This value controls the aspect ratio of the card: padding-bottom = (desired height / desired width) * 100% 
            overflow: hidden;
            border-radius: inherit;
  
            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                background-color: white;
                padding: $padding-base;
                border-radius: inherit;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .content-main {
                    height: 80%;
                    .card-graphic {
                        height: 75%;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: $border-radius-base / 2;
                            // border: 1px solid $border-colour;
                            // box-shadow: 0 0 4px rgba(33,33,33,.2); 
                        }
                    }
                
                    .card-text {
                        margin-top: $padding-base;
                        h1 {
                            font-size: $font-size-base + 4px;
                            font-weight: $font-weight-bold;
                            color: $font-colour-dark;
                        }
                
                        p {
                            margin-top: $padding-base/2;
                            font-size: $font-size-base;
                            color: $font-colour-light;
                        }
                    }
                }

                .content-tags {
                    display: flex;
                    justify-content: center;
                    gap: $padding-base;
                    .tag {
                        background-color: $accent-colour-light;
                        text-align: center;
                        box-sizing: border-box;
                        border-radius: 5px;
                        min-width: 20%;
                        padding: 3px;
                        box-shadow: 0 0 4px rgba(33,33,33,.2);
                        font-weight: $font-weight-bold;
                    }
                }
            }
      }
    }
}

// The number of columns and column width are controlled here
@include xs {
    .card-grid {
        .card {
            flex: 0 1 90%; // 1 column, nearly full width
        }
    }
}

@include sm {
    .card-grid {
        .card {
            flex: 0 1 65%; // 1 column that is smaller than the xs version
        }
    }
}

@include md {
    .card-grid {
        .card {
            flex: 0 1 45%; // 2 columns
        }
    }
}

@include lg {
    .card-grid {
        .card {
            flex: 0 1 30%; // 3 columns
        }
    }
}