.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5 * $padding-base;
    width: 100%;
}

.card {
    background-color: white;
    transition: box-shadow 0.3s;
    border: 1px solid $border-colour;
    border-radius: $border-radius-base / 2;
    padding: $padding-base;
    box-sizing: border-box;

    .card-graphic {
        height: 70%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: $border-radius-base / 4;
        }
    }

    .card-text {
        margin: $margin-base;
        .card-title {
            font-size: $font-size-base + 4px;
            font-weight: $font-weight-bold;
            color: $font-colour-dark;
        }

        .card-body {
            font-size: $font-size-base;
            color: $font-colour-light;
        }
    }

    &:hover {
        box-shadow: 0 0 20px rgba(33,33,33,.2); 
        cursor: pointer;
    }
}

@include xs {
    .card {
        flex: 0 1 90%; // 1 column
        height: 400px;
    }
}

@include sm {
    .card {
        flex: 0 1 90%; // 1 column
        height: 400px;
    }
}

@include md {
    .card {
        flex: 0 1 45%; // 2 columns
        height: 400px;
    }
}

@include lg {
    .card {
        flex: 0 1 30%; // 3 columns
        height: 400px;
    }
}

@include xl {
    .card {
        flex: 0 1 30%; // 3 columns
        height: 350px;
    }
}