// Used to ensure content is centralized and does not spill into background
// areas on large screens
.container {
    max-width: $max-content-width;
    margin: 0 auto; // Centralizes content into a central column on the page
    box-sizing: border-box;
    width: 100%;
}