.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    height: $navbar-height;
    max-height: $navbar-height;
    top: 0;
    
    .nav-logo {
        background-color: transparent;
        height: $navlogo-dim;
        width: $navlogo-dim;
        margin-left: $margin-base;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    .nav-menu {
        display: none; // Display is turned on only above certain screen size
        align-items: center;
        list-style: none;
        padding: 0 $navlink-padding;
        
        .nav-item {
            display: flex;
            align-items: center;
            gap: $padding-base * 2;
            .nav-social {
                height: 25px;
                width: 25px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .nav-item:not(:first-of-type) {
            margin-left: $margin-base + 1.25rem;
        }

        .nav-link {
            text-decoration: none;
            font-weight: $font-weight-bold;
            letter-spacing: 0.1rem;
            font-size: $navbar-font-size;
            color: white;
        }

        .nav-link:hover {
            color: lighten($accent-colour, 15%);
        }
    }

    // Activated by clicking the hamburger icon
    .nav-menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: $font-colour-dark;
        top: $navbar-height;
        padding: 0;
        margin: 0;
        width: 100vw;
        max-width: 100%;
        align-items: center;
        .nav-item {
            margin: 0;
            padding: $padding-base 0;
        }
    }

    .hamburger {
        color: white;
        font-size: $font-size-base + 12px;
        padding-right: $navlink-padding;
        z-index: 100;

        border-style: none;
        background-color: transparent;

        .active {
            background-color: red;
        }
    }

    .hamburger:hover {
        color: lighten($accent-colour, 15%);
        cursor: pointer;
    }

    // For medium size screens and larger, the hamburger icon
    // is replaced with a full navbar
    @include md {
        .hamburger {
            display: none;
        }
        .nav-menu {
            display: flex;
        }
    }
}

// Since the navbar is in a fixed position, a class is needed to offset to ensure that
// it never covers up the page headers that follow
.navbar-separator {
    height: $navbar-height;
    width: auto;
    background-color: transparent;
}