.page-footer {
    background-color: $background-colour-dark;
    display: flex;
    flex-direction: column;
    padding: $padding-base $padding-base;

    .page-footer-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h1 {
            font-size: $font-size-base + 2px;
            font-weight: $font-weight-normal;
        }
    
        h2 {
            font-size: $font-size-base;
            font-weight: $font-weight-normal;
        }
    }
}