.page-header {
    // box-shadow: 1px 1px 1px 1px rgba(33,33,33,.2);
    // box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    gap: 3*$padding-base;

    .page-header-left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .page-header-text {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            
            gap: $padding-base;

            .page-header-text-large {
                font-size: 65px;
                font-weight: $font-weight-bold;
                color: $font-colour-dark;
            }

            .page-header-text-medium {
                font-size: 35px;
                color: $font-colour-light;
            }

            .page-header-text-small {
                font-size: 25px;
                color: $font-colour-light;
            }

            .page-header-avatar {
                height: 100px;
                width: 100px;
                object-fit: cover;
                border-radius: 1000*$border-radius-base;
            }
        }

    }

    .page-header-right {
        display: none;
        .page-header-image {
            height: 400px;
            width: 300px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: $border-radius-base;
            }
        }
    }
}

// At medium screens and larger, the avatar becomes a full picture
@include md {
    .page-header {
        flex-direction: row;
        .page-header-left {

            .page-header-text {
                text-align: left;
                align-items: start;

                .page-header-avatar {
                    display: none;
                }
            }
        }

        .page-header-right {
            display: block;
        }
    }
}