$min-page-header-height: 450px;

.page-header {
    // box-shadow: 1px 1px 1px 1px rgba(33,33,33,.2);
    // box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $min-page-header-height;
    gap: 6*$padding-base;

    .page-header-left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .page-header-text {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            
            gap: $padding-base;

            h1 {
                font-size: 65px;
                font-weight: $font-weight-bold;
                color: $font-colour-dark;
            }

            h2 {
                font-size: 35px;
                font-weight: $font-weight-normal;
                color: $font-colour-light;
            }

            p {
                font-size: 22px;
                color: $font-colour-light;
            }

            .page-header-avatar {
                height: 100px;
                width: 100px;
                object-fit: cover;
                border-radius: 1000*$border-radius-base;
            }
        }

    }

    .page-header-right {
        display: none;
        .page-header-image {
            height: $min-page-header-height - 100px;
            width: $min-page-header-height - 100px;
            display: flex;

            img {
                max-height: 100%;
                max-width: 100%;
            }

            .img-cover {
                object-fit: cover;
            }
            
            .img-contain {
                object-fit: contain;
            }
            
            .img-rounded {
                border-radius: $border-radius-base;
            }
        }
    }
}

// At medium screens and larger, the avatar becomes a full picture
@include md {
    .page-header {
        flex-direction: row;
        .page-header-left {

            .page-header-text {
                text-align: left;
                align-items: start;

                .page-header-avatar {
                    display: none;
                }
            }
        }

        .page-header-right {
            display: block;
            .page-header-image {
                height: $min-page-header-height - 200px;
                width: $min-page-header-height - 200px;
            }
        }
    }
}

@include xl {
    .page-header {
        .page-header-right {
            .page-header-image {
                height: $min-page-header-height - 125px;
                width: $min-page-header-height - 125px;
            }
        }
    }
}