.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2 * $padding-base;
    padding-top: 2 * $padding-base;
    padding-bottom: 2 * $padding-base;

    h1 {
        color: $font-colour-dark;
        font-size: $font-size-base + 14px;
        font-weight: $font-weight-bold;
    }

    p {
        font-size: $font-size-base + 4px;
        color: $font-colour-light;
        max-width: 900px;
    }
}