@mixin section {
    padding: 2*$padding-base 2*$padding-base;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-dark {
    background-color: $background-colour-dark;
    @include section();
}

.section-light {
    background-color: $background-colour-light;
    @include section();
}